@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

@mixin bebas {
  font-family: "Bebas Neue", cursive;
}

@mixin satisfy {
  font-family: "Satisfy", cursive;
}

.nav-logo-word-1 {
  @include bebas;
  font-size: 2rem;
}

.default-font {
  font-family: "Open Sans", sans-serif;
}

.nav-logo-word-2 {
  @include satisfy;
  font-size: 1.7rem;
  color: $orange-400;
}

.index-logo-word-1 {
  @include bebas;
}

.index-logo-word-2 {
  @include satisfy;
  color: $orange-400;
}

.grey-custom {
  background-color: $gray-400;
}

.card-height {
  height: 30rem;
  max-height: 30rem;
}

.custom-card {
  border: none;
  background: #888;
  background-image: var(--bs-gradient);
}

.new-task {
  color: #ffa341;
}

#watch-card, #read-card, #eat-card, #product-card {
  transition: box-shadow .3s;
}

#watch-card:hover, #read-card:hover, #eat-card:hover, #product-card:hover {
  box-shadow: 5px 5px 5px 1px #222222;
}

.orange-bg {
  background-color: $orange-400;
  background-image: var(--bs-gradient);
}

.purple-custom {
  background-color: $purple-400;
}

.card-header,
.card-footer {
  background: #777;
  color: $orange-400;
}

.nav-link {
  color: white;
}

.loading-spinner {
  display: none;
  width: 30px;
  height: 30px;
  border: 5px solid #ddd;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: relative;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link:hover {
  color: grey;
}

@mixin custom-gradient {
  background: linear-gradient(to right, #333 0%, #444 50%, #555 100%);
}

.grey-gradient {
  background: linear-gradient(to bottom, #777, #555);
}

.card-ele {
  background: transparent;
}

.card-link:link {
  color: white;
}

.card-link:visited {
  color: white;
}

.card-link:focus {
  color: $gray-400;
}

.card-link:hover {
  color: $gray-400;
}

.card-link:active {
  color: $gray-400;
}

body,
nav {
  @include custom-gradient;
}

// nav {
//   background-color: $purple-400;
//   background-image: var(--bs-gradient);
// }

body {
  height: 100vh;
}

@media(max-width: 991px) {
  .card-deck .card {
    margin-bottom: 15px;
  }
}
