<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ListEasy</title>

    <!-- Add Bootstrap CSS file from a CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <!-- Link stylesheets -->
    <link rel="stylesheet" href="/styles/css/custom.css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />

    <!-- Link scripts -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>

    <!-- Link fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&family=Satisfy&display=swap"
      rel="stylesheet"
    />

    <!-- FontAwesome link to use icons -->
    <script
      src="https://kit.fontawesome.com/aa76f277e3.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <!-- Main HTML -->
  <body class="custom-gradient">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <div class="col-1"></div>
      <a class="navbar-brand ml-2 nav-logo-word-1 text-light" href="#"
        >List<span class="nav-logo-word-2">Easy</span></a
      >
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link nav-item" href="/login">Log In</a>
            <a class="nav-link nav-item" href="#">Register</a>
          </li>
        </ul>
        <div class="col-1"></div>
      </div>
    </nav>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
