@import "../../../node_modules/bootstrap/scss/functions";

.nav-logo-word-1 {
  font-family: "Bebas Neue", cursive !important;
  font-size: 2rem !important;
}

.nav-logo-word-2 {
  font-family: "Satisfy", cursive !important;
  font-size: 1.7rem !important;
}

.card-header-grey {
  background-color: #b4b4b4 !important;
}

@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

body,
nav {
  background-color: $purple-300;
  background-image: var(--bs-gradient);
}

body {
  height: 100vh;
}
